{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<body class="grey lighten-3">

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container">
  
        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="https://mdbootstrap.com/docs/jquery/" target="_blank">
          <strong class="blue-text">P's Shop</strong>
        </a>
  
        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link waves-effect" href="{% url 'item_list' %}">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="" target="_self">Product</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link waves-effect" href="{% url 'checkout' %}" target="_self">Checkout</a>
              <span class="sr-only">(current)</span>
            </li>
          </ul>
  
          <!-- Right -->
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a href="{% url 'order_summary' %}" class="nav-link waves-effect">
                <span class="badge red z-depth-1 mr-1">1</span>
                <i class="fas fa-shopping-cart"></i>
                <span class="clearfix d-none d-sm-inline-block"> Cart </span>
              </a>
            </li>
          </ul>
  
        </div>
  
      </div>
    </nav>
    <!-- Navbar -->
  
    <!--Main layout-->
    <main>
      <div class="container wow fadeIn">
  
        <!-- Heading -->
        <h2 class="my-5 h2 text-center">Checkout form</h2>
  
        <!--Grid row-->
        <div class="row">
  
          <!--Grid column-->
          <div class="col-md-8 mb-4">
  
            <!--Card-->
            <div class="card">

              <!-- <form>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Checkout</button>
              </form> -->
  
              <!--Card content-->
              <form method="POST" class="card-body">
                {% csrf_token %}

                <h3>Shipping Address</h3>
                
                <div class="hideable_shipping_form">
                  <!--address-->
                  <div class="md-form mb-5">
                    <!-- <input type="text" id="address" class="form-control" placeholder="1234 Main St"> -->
                    <input type="text" placeholder="1234 Main St" id="shipping_address" name="shipping_address" class="form-control">
                    <label for="shipping_address" class=""></label>
                    <!-- Address -->
                  </div>
    
                  <!--address-2-->
                  <div class="md-form mb-5">
                    <!-- <input type="text" id="address-2" class="form-control" placeholder="Apartment or suite"> -->
                    <input type="text" placeholder="Apartment or Suite" id="shipping_address2" name="shipping_address2" class="form-control">
                    <label for="shipping_address2" class=""></label>
                    <!-- Address2 -->
                  </div>
    
                  <!--Grid row-->
                  <div class="row">
    
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">
    
                      <label for="country">Country</label>
                      <!-- <select class="custom-select d-block w-100" id="country" required>
                        <option value="">Choose...</option>
                        <option>United States</option>
                      </select> -->
                      {{ form.shipping_country }}
                      <div class="invalid-feedback">
                        Please select a valid country.
                      </div>
    
                    </div>
    
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">
                      
                      
                      <label for="shipping_zip">Zip</label>
                      <input type="text" placeholder="Zip Code" id="shipping_zip" name="shipping_zip" class="form-control">
                      
                      <div class="invalid-feedback">
                        Zip code required.
                      </div>
    
                    </div>
                    <!--Grid column-->
    
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="same_shipping_address" id="same_shipping_address">
                    <label class="custom-control-label" for="same_shipping_address">Billing Address is the same as my Shipping address</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="set_default_shipping" id="set_default_shipping">
                    <label class="custom-control-label" for="set_default_shipping">Save as deafult shipping address</label>
                  </div>
                </div>

                {% if default_shipping_address %}
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="use_default_shipping" id="use_default_shipping">
                  <label class="custom-control-label" for="use_default_shipping">Use deafult shipping address: {{ default_shipping_address.street_address|truncatechars:10}}</label>
                </div>
                {% endif %}
                  <hr>
                
  
                

                <h3>Billing Address</h3>
                
                <div class="hideable_billing_form">
                  <!--address-->
                  <div class="md-form mb-5">
                    <!-- <input type="text" id="address" class="form-control" placeholder="1234 Main St"> -->
                    <input type="text" placeholder="1234 Main St" id="billiing_address" name="billing_address" class="form-control">
                    <label for="billing_address" class=""></label>
                    <!-- Address -->
                  </div>
    
                  <!--address-2-->
                  <div class="md-form mb-5">
                    <!-- <input type="text" id="address-2" class="form-control" placeholder="Apartment or suite"> -->
                    <input type="text" placeholder="Apartment or Suite" id="billing_address2" name="biling_address2" class="form-control">
                    <label for="billing_address2" class=""></label>
                    <!-- Address 2 (optional) -->
                  </div>
    
                  <!--Grid row-->
                  <div class="row">
    
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">
    
                      <label for="country">Country</label>
                      <!-- <select class="custom-select d-block w-100" id="country" required>
                        <option value="">Choose...</option>
                        <option>United States</option>
                      </select> -->
                      {{ form.billing_country }}
                      <div class="invalid-feedback">
                        Please select a valid country.
                      </div>
    
                    </div>
    
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">
                      
                      
                      <label for="billing_zip">Zip</label>
                      <input type="text" placeholder="Zip Code" id="billing_zip" name="billing_zip" class="form-control">
                      
                      <div class="invalid-feedback">
                        Zip code required.
                      </div>
    
                    </div>
                    <!--Grid column-->
    
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="set_default_billing" id="set_default_billing">
                    <label class="custom-control-label" for="set_default_billing">Save as default billing address</label>
                  </div>

                </div>
          
                {% if default_billing_address %}
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="use_default_billing" id="use_default_billing">
                  <label class="custom-control-label" for="use_default_billing">Use default billing address: {{ default_billing_address.street_address|truncatechars:10}}</label>
                </div>
                {% endif %}
                
                <hr>

                <h3>Payment Option</h3>
  
                <div class="d-block my-3">
                  {% for value, name in form.fields.payment_option.choices  %}
                  <div class="custom-control custom-radio">
                    <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
                    <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                  </div>
                  {% endfor %}
                </div>
                
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
              </form>

              
  
            </div>
            <!--/.Card-->
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-4 mb-4">
            {% include "Order/order_snippets.html" %}
          </div>
          <!--Grid column-->
  
        </div>
        <!--Grid row-->
  
      </div>
    </main>
    <!--Main layout-->
  
{% endblock content %}

{% block extra_scripts %}

<script>
  var hideable_billing_form = $('.hideable_shipping_form');
  var hideable_shipping_form = $('.hideable_billing_form');

  var use_default_shipping = document.querySelector('input[name=use_default_shipping]');
  var use_default_billing = document.querySelector('input[name=use_default_billing]');

  use_default_shipping.addEventListener('change', function() {
    if (this.checked) {
      hideable_shipping_form.hide();
    } else {
      hideable_shipping_form.show()
    }
  })

  use_default_billing.addEventListener('change', function() {
    if (this.checked) {
      hideable_billing_form.hide();
    } else {
      hideable_billing_form.show()
    }
  })

</script>

{% endblock extra_scripts %}